<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <title>TAROT de Rose</title>
</head>

<body>
    <div id="app">
      
            <h1>El Tarot de Rose</h1>

   
        <div id="tablero">
            <div class="flame left top"></div>
            <div class="flame right top"></div>
            <div class="flame left bottom"></div>
            <div class="flame right bottom"></div>
            <div class="carta" v-for="carta in cartasMostradas">
                <img :src="carta" alt="una carta" @click="quitarCarta">
            </div>
            <div class="carta">
                <img src="./img/reverso.jpg" alt="reverso" @click="sacaCarta">
            </div>
           
        </div>

        <div>
            <!--         <button @click="sacaCarta">SACA CARTA</button> -->
            <button @click="resetGame">REINICIAR TAROT</button>
            <button @click="recuperarUltimaCarta" v-if="cartasRecuperables.length>0">RECUPERAR ULTIMA</button>
        </div>
        
  
 <!--        <footer>
            Rose Infinita 2022
        </footer> -->

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script type="text/javascript" src="words.json"></script>
    <script type="text/javascript" src="script.js"></script>
</body>

</html>