body {
    background-color: rgb(36, 33, 30);
    color: aliceblue;
}

#app {
    margin-top: 50px;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(168, 58, 219);
}

h1 {
    margin: 0px;
    color: rgb(168, 58, 219);
}

.aside-2 {
    order: 3;
}

.carta {
    border-radius: 25px;
    border: 1px solid rgb(212, 23, 230);
}

img {
    max-width: 280px;
    max-height: 400px;
    width: auto;
    display: block;
    border-radius: 25px;
}

#tablero {
    width: 100%;
    font-size: xx-large;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
}

button {
    height: 40px;
    width: 100px;
    background-color: rgb(168, 58, 219);
    border-radius: 5px;
    margin: 15px;
    color: aliceblue;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: left;
    background-color: rgb(168, 58, 219);
    color: aliceblue;
}

.flame {
	position: absolute;
    top:100px;
    z-index:-1;
	background: linear-gradient(-45deg, red, orange);
	border-radius: 150px 150px 0px 150px;
	transform: rotate(-135deg);
	animation: 0.8s flame infinite;
	filter: blur(6px);
	box-shadow: 10px 13px 80px #700;
	border: 15px solid black;
	border-left-width: 20px;
	border-top-width: 20px;
}
.left{
    left:10%;
}
.right{
    right: 10%;
}

@keyframes flame {
	0% {
		height: 80px;
		width: 80px;
	}
	50% {
		height: 70px;
		width: 70px;
	}
	100% {
		height: 80px;
		width: 80px;
	}
}
